<section class="sec_rifasactuales">
    <h3>Rifas actuales</h3>
    <form action="">
        <input type="text" name="rifas" class="busqueda">
        <input type="button" value="BUSCAR RIFA" class="boton">
    </form>
    <div class="contenedorrifas">
        <div class="p_fila">Rifa 1</div>
        <div class="p_fila">Rifa 2</div>
        <div class="p_fila">Rifa 3</div>
        <div class="p_fila">Rifa 4</div>
        <div class="s_fila">Rifa 5</div>
        <div class="s_fila">Rifa 6</div>
        <div class="s_fila">Rifa 7</div>
        <div class="s_fila">Rifa 8</div>
    </div>
</section>
