<h2 class="mb-4">Crear Rifa</h2>
<section>
  <form class="needs-validation" [formGroup]="crearRifaForm" (ngSubmit)="onEnviar($event)">
  <div class="primerC">
    <img src="/assets/gente.png" alt="Advertencia">
    <div class="contenedorAdver">
      <p>Los datos personales no serán publicados</p>
      <p>Compruebe que los datos ingresados son correctos</p>
      <p>No podrán ser modificados posteriormente</p>
    </div>
  </div>
    <div class="segundaC">
      <label for="titulo" class="form-label">Titulo de la rifa</label>
      <input type="text" name="titulo" class="form-control inputForm {{invalido}}" placeholder="¿Cómo quieres que se llame tu rifa?" formControlName="titulo">
      <div *ngIf="Titulo?.errors && Titulo?.touched">
        <p *ngIf="Titulo?.hasError('required')" class="text-danger">
          Completar titulo de la rifa
        </p>
        <p *ngIf="Titulo?.hasError('minlength')" class="text-danger">
          El titulo de la rifa debe contener al menos 5 caracteres
        </p>
      </div> 

      <label for="descripcion" class="d-block">Motivo de la rifa</label>
      <textarea name="descripcion" class="form-control m-auto rounded-2 {{invalido}}" cols="30" rows="10" placeholder="Describe brevemente tu rifa" formControlName="descripcion"></textarea>
      <div *ngIf="Descripcion?.errors && Descripcion?.touched">
        <p *ngIf="Descripcion?.hasError('required')" class="text-danger">
          Completar descripcion de la rifa
        </p>
        <p *ngIf="Descripcion?.hasError('minlength')" class="text-danger">
          La descripcion de la rifa debe contener al menos 20 caracteres
        </p>
      </div> 

      <label for="organizador" class="form-label d-block">Organizador de la rifa</label>
      <input type="text" name="organizador" class="form-control inputForm {{invalido}}" placeholder="Nombre de tu organización" formControlName="organizador">
      <div *ngIf="Organizador?.errors && Organizador?.touched">
        <p *ngIf="Organizador?.hasError('required')" class="text-danger">
          Completar organizador de la rifa
        </p>
      </div>

      <label for="premio1" class="form-label">1° Premio</label>
      <input type="text" name="premio1" class="form-control inputForm {{invalido}}" formControlName="premio1">
      <div *ngIf="Premio1?.errors && Premio1?.touched">
        <p *ngIf="Premio1?.hasError('required')" class="text-danger">
          Completar 1° premio de la rifa
        </p>
      </div>

      <label for="premio2" class="form-label">2° Premio</label>
      <input type="text" name="premio2" class="form-control inputForm {{invalido}}" formControlName="premio2">
      <div *ngIf="Premio2?.errors && Premio2?.touched">
        <p *ngIf="Premio2?.hasError('required')" class="text-danger">
          Completar 2° premio de la rifa
        </p>
      </div>

      <label for="premio3" class="form-label">3° Premio</label>
      <input type="text" name="premio3" class="form-control inputForm {{invalido}}" formControlName="premio3">
      <div *ngIf="Premio3?.errors && Premio3?.touched">
        <p *ngIf="Premio3?.hasError('required')" class="text-danger">
          Completar 3° premio de la rifa
        </p>
      </div>
    </div>
    <div class="tercerC">
      <label for="" class="d-block">Rifas a ofrecer</label>
      <label for="numRifas">100</label>
      <input type="radio" value="100" class="m-lg-2" name="numRifas" formControlName="numRifas">

      <label for="numRifas">200</label>
      <input type="radio" value="200" class="m-lg-2" name="numRifas" formControlName="numRifas">

      <label for="numRifas">500</label>
      <input type="radio" value="500" class="m-lg-2" name="numRifas" formControlName="numRifas">

      <label for="numRifas">1000</label>
      <input type="radio" value="1000" class="m-lg-2" name="numRifas" formControlName="numRifas"> 
      <div *ngIf="NumRifas?.errors && NumRifas?.touched">
        <p *ngIf="NumRifas?.hasError('required')" class="text-danger">
          Completar el numero de la rifas
        </p>
      </div>

      <label for="monto" class="d-block">Valor de cada rifa</label>
      <input type="number" class="form-control inputForm {{invalido}}" name="monto" formControlName="monto">
      <div *ngIf="Monto?.errors && Monto?.touched">
        <p *ngIf="Monto?.hasError('required')" class="text-danger">
          Completar valor de la rifa
        </p>
        <p *ngIf="Monto?.hasError('min')" class="text-danger">
          El valor minimo de la rifa es de $100
        </p>
      </div>

      <label for="titular">Datos de transferencia</label>
      <input type="text" class="form-control inputForm {{invalido}}" name="titular" placeholder="Nombre titular" formControlName="titular">
      <div *ngIf="Titular?.errors && Titular?.touched">
        <p *ngIf="Titular?.hasError('required')" class="text-danger">
          Completar titular de la cuenta
        </p>
      </div>
      <input type="number" class="form-control inputForm {{invalido}}" name="cbu" placeholder="CBU/CVU" formControlName="cbu">
      <div *ngIf="Cbu?.errors && Cbu?.touched">
        <p *ngIf="Cbu?.hasError('required')" class="text-danger">
          Completar CBU/CVU de la cuenta
        </p>
        <p *ngIf="Cbu?.hasError('minlength')" class="text-danger" >
          El CBU/CVU debe tener al menos 22 caracteres
        </p>
      </div>
      <input type="text" class="form-control inputForm {{invalido}}" name="banco" placeholder="Banco" formControlName="banco">
      <div *ngIf="Banco?.errors && Banco?.touched">
        <p *ngIf="Banco?.hasError('required')" class="text-danger">
          Completar banco de la cuenta
        </p>
      </div>

      <label for="">Finalización de la rifa</label>
      <input type="date" class="form-control inputForm {{invalido}}" name="finalizacion" formControlName="fecha">
      <div *ngIf="Fecha?.errors && Fecha?.touched">
        <p *ngIf="Fecha?.hasError('required')" class="text-danger">
          Completar fecha de la rifa
        </p>
      </div>

      <button class="boton" type="submit">ENVIAR</button>
    </div>
  </form>
</section>