
<div class="container-index">
    <section>
      <p>
          <h1 class="letra text-center fw-bolder">DESCUBRI LA NUEVA FORMA DE RIFAR</h1>
      </p>
  </section>
  <ol>
      <li class="numero">Eliges la cantidad de números de tu Rifa.</li>
      <li class="premio">Ingresas los premios y fecha del sorteo.</li>
      <li class="pago">Colocas donde quieres recibir el pago.</li>
  </ol>

<section class="botonrifa">
  <!-- <form action="">
       <input type="button" value="CREA TU RIFA" class="boton1">
  </form> -->
  <a class="btn btn-primary btn-lg" role="button" routerlink="/crearifa" style="background-color: #313e50; border-color: #313e50">CREA TU RIFA</a>

</section>
  </div>