<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiRifa.net</title>
    <link rel="stylesheet" href="./carrito.component.css">

</head>

<body>
    <header>
        <img src="../../../assets/Logo-mirifa2.png" alt="logorifa" class="logomirifa">
        <nav class="navbar">
            <ul class="navbar-list">
                <li><a href="#">RIFAS ACTUALES</a></li>
                <li><a href="#">INGRESA</a></li>
</ul>
<img src="../../../assets/carrito.png" alt="carrito" class="cart-icon">
</nav>
    </header>
    <main>
        <section id="rifa1">
            <div class="rifa-info">
                <h1>Mi carrito</h1>
                <img src="../../../assets/Logo-mirifa2.png" alt="logorifa">
                <h2>Rifa 1</h2>
                <p>10 $Valor</p>

            </div>
            <div class="rifa2-info">
                <img src="../../../assets/Logo-mirifa2.png" alt="logorifa">
                <h2>Rifa 2</h2>
                <p>5 $Valor</p>

            </div>

            <div class="cupon">
                <h1>Cupon de descuento</h1>
                <a href="#">Aplicar</a>
            </div>

        </section>
        <section id="Pagos">
            <div class="metodopago">
                <p>Tarjeta de credito</p>
                <p>Tarjeta de debito</p>
                <p>Efectivo</p>
                <a href="#">Finalizar</a>

            </div>

        </section>
    </main>
</body>
</html>