<div class="container" style="background-color: #E2F0EF;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 mt-6 mb-6">

            <div class="text-center mb-6">
                <br>
                <h1 class="mb-3 big"><b>Contacto</b></h1>
                <h4 class="mb-3 big"><b>¿Quieres saber mas?</b></h4>

                <p class="text"> Puedes resolver preguntas simples más rápido en nuestra sección de <a routerLink="/faq" class="FaqComponent">Preguntas Frecuentes</a> o llenando el Formulario</p>

            </div>

            <div class="mb-3">
                <label for="exampleFormControlNombre" class="form-label">Nombre</label>
                <input type="nombre" class="form-control" id="exampleFormControlNombre" placeholder="Nombre">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlAsunto" class="form-label">Asunto</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccione el Asunto</option>
                    <option value="1">Contacto / Preguntas</option>
                    <option value="2">Solicitud de Facturas</option>
                    <option value="3">Ventas</option>
                    <option value="4">Problemas con Sorteo</option>
                    <option value="5">Problemas con Pagos</option>
                    </select>
            </div>

            <div class="mb-3">
                    <label for="exampleFormControlMensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="exampleFormControlMensaje" rows="3"></textarea>
            </div>

            <!-- <button type="submit" class="btn btn-primary" style="background-color: #313e50; border-color: #313e50">Enviar</button> -->
            <a href="./index.html" class="btn btn-primary" style="background-color: #313e50; border-color: #313e50">Enviar</a>

        </div>

    </div>
</div>

    
   
