<div class="container">
    <h1 class="tituloplanes mt-5">Planes</h1>
    <div class="row g-3 align-item-end">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="../../../assets/Fotoplanes.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-tittle">Basico</h5>
                        <p>$5,00</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Panel Administrador</li>
                            <li class="list-group-item">Rifas Ilimitadas</li>
                            <li class="list-group-item">Sorteador de Ganadores</li>
                        </ul>
                        <div class="d-grid gap-2 mx-auto">
                          <a class="btn btn-outline-dark rounded-pill" href="/register">Registrate</a>
                        </div>                            
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                  <img src="../../../assets/Fotoplanes.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-tittle">Empresa</h5>
                        <p>$10,00</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Todos lo Basico</li>
                            <li class="list-group-item">Múlti-Admins</li>
                            <li class="list-group-item">Soporte 24/7</li>
                        </ul>
                        <div class="d-grid gap-2 mx-auto">
                          <a class="btn btn-outline-dark rounded-pill" href="/register">Registrate</a>
                        </div>                            
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                  <img src="../../../assets/Fotoplanes.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-tittle">Gratis</h5>
                        <p>Sumate !</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Crea tu causa</li>
                            <li class="list-group-item">Numeros Infinitos</li>
                            <li class="list-group-item">A rifar!</li>
                        </ul>
                            <div class="d-grid gap-2 mx-auto">
                              <a class="btn btn-outline-dark rounded-pill" href="/register">Registrate</a>
                            </div>
                    </div>
                </div>
            </div>
    </div>
</div>
