<section class="sec_pregunta">
    <h3 class="pregunta">¿Qué es MIRIFA.NET?</h3>
    <p>Es un sistema de gestión para organizaciones o personas que puedan ofrecer rifas por diferentes causas en un entorno web.</p>
    <h3 class="pregunta">¿Cómo usar MIRIFA.NET?</h3>
    <p>Para publicar tu rifa necesitas crear una cuenta. En caso de querer comprar un rifa la
    buscas en la sección rifas actuales y listo.
    </p>
    <h3 class="pregunta">¿Quiénes usan MIRIFA.NET?</h3>
    <p>MIRIFA.NET está abierto para cualquier tipo de público. Desde creadores de contenido, streamers,
    ONG, escuelas o personas.
    </p>
    <h3 class="pregunta">¿Tienen alguna aplicación para celulares?</h3>
    <p>No, la plataforma es 100% web.</p>
    <h3 class="pregunta">¿Cuáles son los costos de uso?</h3>
    <p>No cobramos ningún tipo de mantenimiento de cuenta ni comisión mensual.</p>
    <h3 class="pregunta">¿Qué contenido se puede publicar?</h3>
    <p>En MIRIFA.NET vas a poder publicar cualquier tipo de contenido que sea de autoría propia. 
    No se puede publicar material de terceros.</p>
</section>
