<footer class="footer"> 
    <br>
    <br>
    <div class="container-fluid pt-3 pb-3">
        <div class="row justify-content-center">
            <div class="col-12 col-md-3">
                <h5><b>MiRifa.net</b></h5>
                    <p>Sistema de venta, gestión y administración de Rifas virtuales con sorteo de ganadores.</p>
            </div>
            <div class="col-12 col-md-3">
                <h5><b>Nosotros</b></h5>
                    <p>Tenemos más de 10 años de experiencia siendo especialistas en soluciones tecnológicas, modernas, intuitivas y seguras.</p>
                    <a href="#">Sitio institucional</a>
            </div> 
            <div class="col-12 col-md-3">
                <h5><b>Contacto</b></h5>
                    <p>Vía E-mail: info@mirifa.net</p>
                    
                    <p>En nuestras redes sociales: @mirifanet</p>
            
                    <p>Por teléfono: 91-1234-567</p>
                    
            </div>
            <div class= "col-12 col-md-3">
                <h5><b>Síguenos</b></h5>
                <br>
                <img src="assets/logotipo-de-instagram.png"
                    class="mb-3 logos" alt="30" width="30" height="30">
                <img src="assets/facebook.png" 
                    class="mb-3 logos" alt="30" width="30" height="30">
                <img src="assets/whatsapp.png" 
                    class="mb-3 logos" alt="30" width="30" height="30">
                <img src="assets/gorjeo.png" 
                    class="mb-3" alt="30" width="30" height="30">
            </div> 
            <div class="row justify-content-center">
                <div class="text-center social-links mt-4">
                    <p><span class="legalLinks"><a routerLink="/terminos" rel="nofollow noopener noreferrer"><h6>Terminos y Condiciones</h6></a></span>
                        <br>
                        © 2022 
                        <a routerLink="/inicio">MiRifa</a>
                        ™. Todos los derechos reservados.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
